$color-light-xl: #FFFFFF;
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;

$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;

$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;

$color-shadow: #0D0D0D0C;

$color-background-primary: $color-light-xl;
$color-background-secondary: $color-light-l;
$color-background-gradient: #211F20;

$content-width: 1280px;
$wrapper-width: $content-width;
$tablet-width: 768px;
$mobile-big-width: 375px;
$mobile-small-width: 320px;