@mixin font ($size, $height, $spacing, $weight: 400, $style: normal) {
	font-size: $size;
	line-height: $height;
	letter-spacing: $spacing;
	font-weight: $weight;
	font-style: $style;
}

@mixin transition ($property, $duration: 1s, $function: ease) {
	transition: $property $duration $function;
}

@mixin media-tablet {
	@media (max-width: $tablet-width) { @content; }
}

@mixin media-mobile-big {
	@media (max-width: $mobile-big-width) { @content; }
}

@mixin media-mobile-small {
	@media (max-width: $mobile-small-width) { @content; }
}