.about {
	background-color: $color-light-xl;
}

.about__wrapper {
	display: flex;
	padding-top: 80px;
	padding-bottom: 100px;

	align-items: center;

	@include media-tablet {
		flex-direction: column-reverse;
	}

	@include media-mobile-big {
		padding: 42px 0;
	}
}

.about__image {
	margin-left: auto;
	margin-right: 60px;
	width: 300px;
	height: 408px;

	background-image: url(../img/about/about-pets.png);

	@include media-tablet {
		margin: 80px auto 0px;
	}

	@include media-mobile-big {
		margin-top: 42px;
		width: 260px;
		height: 353.6px;
		background-size: 260px 353.6px;
	}
}

.about__content {
	margin-left: 60px;
	margin-right: auto;

	@include media-tablet {
		margin: 0 auto;
	}
}

.about__subtitle {
	margin-top: 25px;
	padding-right: 10px;

	@include media-mobile-big {
		margin-top: 22px;
		padding: 0 15px;
		text-align: justify;

		& br {
			display: none;
		}
	}
}