.about {
	background-color: $color-light-xl;
}

.about__wrapper {
	display: flex;
	padding-top: 80px;
	padding-bottom: 100px;

	align-items: center;
}

.about__image {
	margin-left: auto;
	margin-right: 60px;
	width: 300px;
	height: 408px;

	background-image: url(/shelter/img/about/about-pets.png);
}

.about__content {
	margin-left: 60px;
	margin-right: auto;
}

.about__subtitle {
	margin-top: 25px;
	padding-right: 10px;
}