.donation {
	background-color: $color-light-l;
}

.donation__wrapper {
	display: flex;
	padding-top: 80px;
	padding-bottom: 100px;

	justify-content: center;

	@include media-tablet {
		flex-direction: column-reverse;
	}
}

.donation__image {
	width: 505px;
	height: 261px;

	padding: 11px 0 10px;

	@include media-tablet {
		margin: 60px auto 0;
		padding: 0;
	}
}

.donation__content {
	margin: 0 22px 0 30px;

	@include media-tablet {
		margin: 0 auto;
		width: 380px;
	}
}

.donation__subtitle {
	margin: 20px 0;
}

.donation__discription {
	margin-top: 20px;

	@extend %family_secondary;
	@include font($size: 1.2rem, $height: 1.5em, $spacing: 0em);
	color: $color-dark-m;
	font-style: italic;
}