.help {
	background-color: $color-light-xl;
}

.help__wrapper {
	padding-top: 80px;
	padding-bottom: 100px;

	@include media-mobile-big {
		padding: 42px 0;
	}
}

.help__title {
	margin: 0 auto 60px;

	text-align: center;
}