.pets {
	background-color: $color-light-l;
}

.pets__wrapper {
	padding-top: 80px;
	padding-bottom: 100px;
}

.pets__title {
	margin: 0 auto 60px;

	text-align: center;
}

.pets__button {
	margin-top: 60px;
	
	text-align: center;
}

.pets__pagination {
	margin-top: 60px;
	
	display: flex;
	justify-content: center;
	column-gap: 20px;

	text-align: center;
	& .button {
		@include font($size: 2rem, $height: 1.15em, $spacing: 0.06em);
	}
}