.pets {
	background-color: $color-light-l;
}

.pets__wrapper {
	padding-top: 80px;
	padding-bottom: 100px;
}

.pets__title {
	margin: 0 auto 60px;

	text-align: center;
}

.pets__button {
	margin-top: 60px;
	
	text-align: center;
}