.start_screen {
	margin-top: 60px;
	padding-top: 163px;
	padding-bottom: 243px;
	
	background-image: url(../img/start_screen/start-screen-puppy.png);
	background-position: right;
	background-repeat: no-repeat;
}

.start_screen__title {
	color: $color-light-xl;
}

.start_screen__subtitle {
	margin: 42px 0;

	color: $color-dark-s;
}