.start_screen {
	padding-top: 60px;

	@include media-tablet {
		padding-top: 30px;
	}
}

.start_screen__wrapper {
	padding-top: 163px;
	padding-bottom: 243px;	
	
	background-image: url(../img/start_screen/start-screen-puppy.png);
	background-position: right;
	background-repeat: no-repeat;

	@include media-tablet {
		padding: 0 124px 693px;

		background-size: 569px 593px;
		background-position: bottom right;

		& .button {
			margin-left: 126px;
		}
	}

	@include media-mobile-big {
		padding: 0 0 377px;

		background-size: 260px 271.77px;

		& .button {
			margin-left: 46px;
		}
	}
}

.start_screen__title {
	color: $color-light-xl;
}

.start_screen__subtitle {
	margin: 42px 0;

	color: $color-dark-s;

	@include media-mobile-big {
		text-align: center;
		
		& br {
			display: none;
		}
	}
}