.header {
	padding: 30px 0;
}

.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__secondary {
	background-color: $color-light-xl;

	& h1, .nav__item a {
		color: $color-dark-l;

		&:hover {
			color: $color-dark-3xl;
			@include transition(color);
		}
	}

	& p, .nav__item_active a {
		color: $color-dark-3xl;
	}
}