.wrapper {
	box-sizing: border-box;
	width: $wrapper-width;
	
	margin-left: auto;
	margin-right: auto;

	padding-left: 40px;
	padding-right: 40px;

	@include media-tablet {
		width: $tablet-width;

		padding-left: 30px;
		padding-right: 30px;
	}

	@include media-mobile-big {
		width: $mobile-big-width;
	}

	@include media-mobile-small {
		width: $mobile-small-width;
	}
}

.wrapper_gradient {
	background-color: $color-background-gradient;
	background-image: url(../img/start_screen/noise_transparent@2x.png),
					  radial-gradient(80% 120% at top left, #5B483A, #262425);
}