html {
	font-size: 10px;
	
	scroll-behavior: smooth;
}

body {
	margin: auto;

	@extend %family_primary;
}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0px;

	color: $color-dark-l;
}

h1 {
	@include font($size: 3.2rem, $height: 1.1em, $spacing: 0.06em);
}

h2 {
	@include font($size: 4.4rem, $height: 1.3em, $spacing: 0em);

	@include media-mobile-big {
		@include font($size: 2.5rem, $height: 1.3em, $spacing: 0.06em);
		text-align: center;
	}
}

h3 {
	@include font($size: 3.5rem, $height: 1.3em, $spacing: 0.06em);

	@include media-mobile-big {
		@include font($size: 2.5rem, $height: 1.3em, $spacing: 0.06em);
		text-align: center;
	}
}

h4 {
	@include font($size: 2rem, $height: 1.15em, $spacing: 0.06em);
}

h5 {
	@include font($size: 1.5rem, $height: 1.1em, $spacing: 0.06em);
}

p,
li {
	@extend %family_secondary;
	@include font($size: 1.5rem, $height: 1.6em, $spacing: 0em);
	color: $color-dark-xl;
}

a,
a:active,
a:hover {
	text-decoration: none;
	color: $color-dark-l;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}