.nav {
	display: flex;
	column-gap: 35px;

	@include media-mobile-big {
		display: none;
	}
}

.nav__item a {
	color: $color-dark-s;

	&:hover {
		color: $color-light-s;
		@include transition(color);
	}
}

.nav__item_active {
	border-bottom: 3px solid $color-primary;

	pointer-events: none;
}

.nav__item_active a {
	color: $color-light-s;
}