.slider {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.slider__content {
	display: flex;
	gap: 90px;
}

.slider__card {
	padding-bottom: 30px;
	
	border-radius: 9px;
	background-color: $color-light-s;

	text-align: center;
}

.slider__card-title {
	margin-top: 26px;
	margin-bottom: 30px;
}