.slider {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.slider__content {
	display: flex;
	gap: 90px;
}

.slider__content__full {
	gap: 30px 40px;
	flex-wrap: wrap;
}

.slider__card {
	padding-bottom: 30px;
	
	border-radius: 9px;
	background-color: $color-light-s;

	text-align: center;

	cursor: pointer;

	&:hover {
		box-shadow: 0 2px 35px 14px #0D0D0D0C;
	}

	&:hover .button {
		border: 2px solid $color-primary-light;
		background-color: $color-primary-light;
		@include transition(background-color);
	}
}

.slider__card-title {
	margin-top: 26px;
	margin-bottom: 30px;
}