.slider {
	display: flex;
	align-items: center;
	justify-content: space-between;

	@include media-mobile-big {
		// flex-direction: column;
		padding: 0 15px;
		flex-wrap: wrap;

		& :first-child {
			// margin-left: 43px;
			order: 2;
		}

		& :last-child {
			margin-right: 43px;
			order: 2;
		}
	}
}

.slider__content {
	display: flex;
	gap: 90px;

	@include media-tablet {
		gap: 40px;

		& .slider__card:last-child {
			display: none;
		}
	}

	@include media-mobile-big {
		& .slider__card:nth-child(2) {
			display: none;
		}
	}
}

.slider__content__full {
	gap: 30px 40px;
	flex-wrap: wrap;
}

.slider__card {
	padding-bottom: 30px;
	
	border-radius: 9px;
	background-color: $color-light-s;

	text-align: center;

	cursor: pointer;

	&:hover {
		box-shadow: 0 2px 35px 14px $color-shadow;
	}

	&:hover .button {
		border: 2px solid $color-primary-light;
		background-color: $color-primary-light;
		@include transition(background-color);
	}
}

.slider__card-title {
	margin-top: 26px;
	margin-bottom: 30px;
}