body {
  font-family: Georgia, sans-serif;
}

.donation__discription, .logo__subtitle, p,
li {
  font-family: Arial, sans-serif;
}

html {
  font-size: 10px;
}

body {
  width: 1280px;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0px;
  color: #545454;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1em;
  letter-spacing: 0.06em;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 4.4rem;
  line-height: 1.3em;
  letter-spacing: 0em;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-size: 3.5rem;
  line-height: 1.3em;
  letter-spacing: 0.06em;
  font-weight: 400;
  font-style: normal;
}

h4 {
  font-size: 2rem;
  line-height: 1.15em;
  letter-spacing: 0.06em;
  font-weight: 400;
  font-style: normal;
}

h5 {
  font-size: 1.5rem;
  line-height: 1.1em;
  letter-spacing: 0.06em;
  font-weight: 400;
  font-style: normal;
}

p,
li {
  font-size: 1.5rem;
  line-height: 1.6em;
  letter-spacing: 0em;
  font-weight: 400;
  font-style: normal;
  color: #4C4C4C;
}

a,
a:active,
a:hover {
  text-decoration: none;
  color: #545454;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.logo__title {
  margin-bottom: 10px;
  color: #F1CDB3;
}

.logo__subtitle {
  font-size: 1.3rem;
  line-height: 1.15em;
  letter-spacing: 0.1em;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #FFFFFF;
}

.nav {
  display: flex;
  column-gap: 35px;
}

.nav__item a {
  color: #CDCDCD;
}

.nav__item_active {
  border-bottom: 3px solid #F1CDB3;
}

.nav__item_active a {
  color: #FFFFFF;
}

.button {
  display: inline-block;
  padding: 13px 43px;
  border-radius: 100px;
  font-size: 1.7rem;
  line-height: 1.3em;
  letter-spacing: 0.06em;
  font-weight: 400;
  font-style: normal;
  color: #292929;
}
.button:hover {
  border: 2px solid #FDDCC4;
  background-color: #FDDCC4;
}

.button_primary, .button_active {
  border: 2px solid #F1CDB3;
  background-color: #F1CDB3;
}

.button_secondary {
  border: 2px solid #F1CDB3;
  background-color: #FFFFFF;
}

.button_inactive {
  border: 2px solid #CDCDCD;
  background-color: #FFFFFF;
  color: #CDCDCD;
}

.button_mini {
  box-sizing: border-box;
  width: 52px;
  height: 52px;
  padding: 0;
}

.button_arrow-left {
  background-image: url(/shelter/img/pets/arrow_left.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.button_arrow-right {
  background-image: url(/shelter/img/pets/arrow_right.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.button_close {
  background-image: url(/shelter/img/pets/close.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider__content {
  display: flex;
  gap: 90px;
}

.slider__card {
  padding-bottom: 30px;
  border-radius: 9px;
  background-color: #FAFAFA;
  text-align: center;
}

.slider__card-title {
  margin-top: 26px;
  margin-bottom: 30px;
}

.list {
  display: flex;
  gap: 50px 120px;
  flex-wrap: wrap;
  justify-content: center;
}

.list__item {
  text-align: center;
}

.list__title {
  margin-top: 30px;
}

.credit-card {
  display: inline-flex;
  padding: 10px 15px;
  background-color: #F1CDB3;
  border-radius: 9px;
}

.credit-card__image {
  width: 30px;
  height: 23px;
  background-image: url(/shelter/img/donation/credit-card.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.credit-card__title {
  margin-left: 15px;
}

.start_screen {
  margin-top: 60px;
  padding-top: 163px;
  padding-bottom: 243px;
  background-image: url(/shelter/img/start_screen/start-screen-puppy.png);
  background-position: right;
  background-repeat: no-repeat;
}

.start_screen__title {
  color: #FFFFFF;
}

.start_screen__subtitle {
  margin: 42px 0;
  color: #CDCDCD;
}

.about {
  background-color: #FFFFFF;
}

.about__wrapper {
  display: flex;
  padding-top: 80px;
  padding-bottom: 100px;
  align-items: center;
}

.about__image {
  margin-left: auto;
  margin-right: 60px;
  width: 300px;
  height: 408px;
  background-image: url(/shelter/img/about/about-pets.png);
}

.about__content {
  margin-left: 60px;
  margin-right: auto;
}

.about__subtitle {
  margin-top: 25px;
  padding-right: 10px;
}

.pets {
  background-color: #F6F6F6;
}

.pets__wrapper {
  padding-top: 80px;
  padding-bottom: 100px;
}

.pets__title {
  margin: 0 auto 60px;
  text-align: center;
}

.pets__button {
  margin-top: 60px;
  text-align: center;
}

.help {
  background-color: #FFFFFF;
}

.help__wrapper {
  padding-top: 80px;
  padding-bottom: 100px;
}

.help__title {
  margin: 0 auto 60px;
  text-align: center;
}

.donation {
  background-color: #F6F6F6;
}

.donation__wrapper {
  display: flex;
  padding-top: 80px;
  padding-bottom: 100px;
  justify-content: center;
}

.donation__image {
  width: 505px;
  height: 261px;
  padding: 11px 0 10px;
}

.donation__content {
  margin: 0 22px 0 30px;
}

.donation__subtitle {
  margin: 20px 0;
}

.donation__discription {
  margin-top: 20px;
  font-size: 1.2rem;
  line-height: 1.5em;
  letter-spacing: 0em;
  font-weight: 400;
  font-style: normal;
  color: #B2B2B2;
  font-style: italic;
}

.header {
  padding: 30px 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  padding-left: 40px;
  padding-right: 40px;
}

.wrapper_gradient {
  background-color: #211F20;
  background-image: url(/shelter/img/start_screen/noise_transparent@2x.png), radial-gradient(80% 120% at top left, #5B483A, #262425);
}

/*# sourceMappingURL=style.css.map */
