body {
  font-family: Georgia, sans-serif;
}

.donation__discription, .logo__subtitle, p,
li {
  font-family: Arial, sans-serif;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0px;
  color: #545454;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1em;
  letter-spacing: 0.06em;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 4.4rem;
  line-height: 1.3em;
  letter-spacing: 0em;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-size: 3.5rem;
  line-height: 1.3em;
  letter-spacing: 0.06em;
  font-weight: 400;
  font-style: normal;
}

h4 {
  font-size: 2rem;
  line-height: 1.15em;
  letter-spacing: 0.06em;
  font-weight: 400;
  font-style: normal;
}

h5 {
  font-size: 1.5rem;
  line-height: 1.1em;
  letter-spacing: 0.06em;
  font-weight: 400;
  font-style: normal;
}

p,
li {
  font-size: 1.5rem;
  line-height: 1.6em;
  letter-spacing: 0em;
  font-weight: 400;
  font-style: normal;
  color: #4C4C4C;
}

a,
a:active,
a:hover {
  text-decoration: none;
  color: #545454;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.logo:hover .logo__title {
  color: #FDDCC4;
  transition: color 1s ease;
}

.logo__title {
  margin-bottom: 10px;
  color: #F1CDB3;
}

.logo__subtitle {
  font-size: 1.3rem;
  line-height: 1.15em;
  letter-spacing: 0.1em;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #FFFFFF;
}

.nav {
  display: flex;
  column-gap: 35px;
}

.nav__item a {
  color: #CDCDCD;
}
.nav__item a:hover {
  color: #FAFAFA;
  transition: color 1s ease;
}

.nav__item_active {
  border-bottom: 3px solid #F1CDB3;
  pointer-events: none;
}

.nav__item_active a {
  color: #FAFAFA;
}

.button {
  display: inline-block;
  padding: 13px 43px;
  border-radius: 100px;
  font-size: 1.7rem;
  line-height: 1.3em;
  letter-spacing: 0.06em;
  font-weight: 400;
  font-style: normal;
  color: #292929;
}
.button:hover {
  border: 2px solid #FDDCC4;
  background-color: #FDDCC4;
  transition: background-color 1s ease;
  cursor: pointer;
}

.button_primary, .button_active {
  border: 2px solid #F1CDB3;
  background-color: #F1CDB3;
}

.button_secondary {
  border: 2px solid #F1CDB3;
  background-color: #FFFFFF;
}

.button_inactive {
  border: 2px solid #CDCDCD;
  background-color: #FFFFFF;
  color: #CDCDCD;
  pointer-events: none;
}

.button_mini {
  box-sizing: border-box;
  width: 52px;
  height: 52px;
  padding: 12px 0 13px;
}

.button_arrow-left {
  background-image: url(../img/pets/arrow_left.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.button_arrow-right {
  background-image: url(../img/pets/arrow_right.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.button_close {
  background-image: url(../img/pets/close.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider__content {
  display: flex;
  gap: 90px;
}
@media (max-width: 768px) {
  .slider__content {
    gap: 40px;
  }
  .slider__content .slider__card:last-child {
    display: none;
  }
}

.slider__content__full {
  gap: 30px 40px;
  flex-wrap: wrap;
}

.slider__card {
  padding-bottom: 30px;
  border-radius: 9px;
  background-color: #FAFAFA;
  text-align: center;
  cursor: pointer;
}
.slider__card:hover {
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.0470588235);
}
.slider__card:hover .button {
  border: 2px solid #FDDCC4;
  background-color: #FDDCC4;
  transition: background-color 1s ease;
}

.slider__card-title {
  margin-top: 26px;
  margin-bottom: 30px;
}

.list {
  display: flex;
  gap: 50px 120px;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 768px) {
  .list {
    gap: 55px 60px;
  }
}

.list__item {
  text-align: center;
}
@media (max-width: 768px) {
  .list__item {
    height: 113px;
    width: 170px;
  }
}

.list__title {
  margin-top: 30px;
}
@media (max-width: 768px) {
  .list__title {
    margin-top: 25px;
  }
}

.credit-card {
  display: inline-flex;
  padding: 10px 15px;
  background-color: #F1CDB3;
  border-radius: 9px;
}
.credit-card:hover {
  background-color: #FDDCC4;
  transition: background-color 1s ease;
}

.credit-card__image {
  width: 30px;
  height: 23px;
  background-image: url(../img/donation/credit-card.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.credit-card__title {
  margin-left: 15px;
}

.start_screen {
  padding-top: 60px;
}
@media (max-width: 768px) {
  .start_screen {
    padding-top: 30px;
  }
}

.start_screen__wrapper {
  padding-top: 163px;
  padding-bottom: 243px;
  background-image: url(../img/start_screen/start-screen-puppy.png);
  background-position: right;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .start_screen__wrapper {
    padding: 0 124px 693px;
    background-size: 569px 593px;
    background-position: bottom right;
  }
  .start_screen__wrapper .button {
    margin-left: 126px;
  }
}

.start_screen__title {
  color: #FFFFFF;
}

.start_screen__subtitle {
  margin: 42px 0;
  color: #CDCDCD;
}

.about {
  background-color: #FFFFFF;
}

.about__wrapper {
  display: flex;
  padding-top: 80px;
  padding-bottom: 100px;
  align-items: center;
}
@media (max-width: 768px) {
  .about__wrapper {
    flex-direction: column-reverse;
  }
}

.about__image {
  margin-left: auto;
  margin-right: 60px;
  width: 300px;
  height: 408px;
  background-image: url(../img/about/about-pets.png);
}
@media (max-width: 768px) {
  .about__image {
    margin: 80px auto 0px;
  }
}

.about__content {
  margin-left: 60px;
  margin-right: auto;
}
@media (max-width: 768px) {
  .about__content {
    margin: 0 auto;
  }
}

.about__subtitle {
  margin-top: 25px;
  padding-right: 10px;
}

.pets {
  background-color: #F6F6F6;
}

.pets__wrapper {
  padding-top: 80px;
  padding-bottom: 100px;
}

.pets__title {
  margin: 0 auto 60px;
  text-align: center;
}

.pets__button {
  margin-top: 60px;
  text-align: center;
}

.pets__pagination {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  column-gap: 20px;
  text-align: center;
}
.pets__pagination .button {
  font-size: 2rem;
  line-height: 1.15em;
  letter-spacing: 0.06em;
  font-weight: 400;
  font-style: normal;
}

.help {
  background-color: #FFFFFF;
}

.help__wrapper {
  padding-top: 80px;
  padding-bottom: 100px;
}

.help__title {
  margin: 0 auto 60px;
  text-align: center;
}

.donation {
  background-color: #F6F6F6;
}

.donation__wrapper {
  display: flex;
  padding-top: 80px;
  padding-bottom: 100px;
  justify-content: center;
}
@media (max-width: 768px) {
  .donation__wrapper {
    flex-direction: column-reverse;
  }
}

.donation__image {
  width: 505px;
  height: 261px;
  padding: 11px 0 10px;
}
@media (max-width: 768px) {
  .donation__image {
    margin: 60px auto 0;
    padding: 0;
  }
}

.donation__content {
  margin: 0 22px 0 30px;
}
@media (max-width: 768px) {
  .donation__content {
    margin: 0 auto;
    width: 380px;
  }
}

.donation__subtitle {
  margin: 20px 0;
}

.donation__discription {
  margin-top: 20px;
  font-size: 1.2rem;
  line-height: 1.5em;
  letter-spacing: 0em;
  font-weight: 400;
  font-style: normal;
  color: #B2B2B2;
  font-style: italic;
}

.header {
  padding: 30px 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__secondary {
  background-color: #FFFFFF;
}
.header__secondary h1, .header__secondary .nav__item a {
  color: #545454;
}
.header__secondary h1:hover, .header__secondary .nav__item a:hover {
  color: #292929;
  transition: color 1s ease;
}
.header__secondary p, .header__secondary .nav__item_active a {
  color: #292929;
}

.wrapper {
  box-sizing: border-box;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 768px) {
  .wrapper {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 375px) {
  .wrapper {
    width: 375px;
  }
}
@media (max-width: 320px) {
  .wrapper {
    width: 320px;
  }
}

.wrapper_gradient {
  background-color: #211F20;
  background-image: url(../img/start_screen/noise_transparent@2x.png), radial-gradient(80% 120% at top left, #5B483A, #262425);
}

.footer {
  padding-top: 40px;
}
@media (max-width: 768px) {
  .footer {
    padding-top: 30px;
  }
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer__wrapper {
    flex-wrap: wrap;
    justify-content: left;
    column-gap: 60px;
    padding: 0 64px;
  }
}

.footer__contacts, .footer__locations {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 60px;
}
@media (max-width: 768px) {
  .footer__contacts, .footer__locations {
    height: 234px;
    padding: 0;
  }
}

.footer__locations {
  margin-right: 8px;
}
@media (max-width: 768px) {
  .footer__locations {
    margin-right: 0;
  }
}

.footer__item {
  display: inline-flex;
  align-items: center;
}
.footer__item:hover .footer__subtitle {
  color: #FDDCC4;
  transition: color 1s ease;
}

.footer_title {
  color: #FFFFFF;
}

.footer__icon {
  margin-right: 20px;
}

.footer__subtitle {
  color: #F1CDB3;
}

@media (max-width: 768px) {
  .footer__image {
    margin: 65px auto 0;
  }
}

/*# sourceMappingURL=style.css.map */
