// import constants, mixins, placeholders
@import "./abstract/constants";
@import "./abstract/placeholders";
@import "./abstract/mixins";

//import base blocks
@import "./base/base";
@import "./base/logo";
@import "./base/nav";
@import "./base/button";

//import components
@import "./component/start_screen";
@import "./component/about";

// import layout
@import "./layout/header";
@import "./layout/wrapper";