// import constants, mixins, placeholders
@import "./abstract/constants";
@import "./abstract/placeholders";
@import "./abstract/mixins";

//import base blocks
@import "./base/base";
@import "./base/logo";
@import "./base/nav";
@import "./base/button";
@import "./base/slider";
@import "./base/list";

//import components
@import "./component/start_screen";
@import "./component/about";
@import "./component/pets";
@import "./component/help";

// import layout
@import "./layout/header";
@import "./layout/wrapper";